<sharespacenavbar></sharespacenavbar>

<div ng-controller="HomepageController">
  <div class="grid">
    <div class="grid-item" id="logo">
      ShareSpace
    </div>
    <div class="grid-item">
      <img src="/vinyls_categorized.jpeg"/>
    </div>
    <div class="grid-item">
      <img src="/skirts.jpeg"/>
    </div>
    <div class="grid-item">
      <img src="/tools.jpeg"/>
    </div>
    <div class="grid-item">
      <img src="/hanging_clothes.jpeg"/>
    </div>
    <div class="grid-item">
      <img src="/vinyls_dark.jpeg"/>
    </div>
    <div class="grid-item">
      <img src="/girl_guitar.jpeg"/>
    </div>
    <div class="grid-item">
      <img src="/reading_on_bed.jpeg"/>
    </div>
    <div class="grid-item">
      <img src="/surfboard.jpeg"/>
    </div>
  </div>
</div>
